In [22]:
import pandas as pd
import numpy as np
import random

# Data

In [5]:
df = pd.read_excel('GA_task.xlsx', skiprows=1, header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,R,T,R,T,R,T,R,T,R,T,...,R,T,R,T,R,T,R,T,R,T
1,9,22,5,17,5,24,8,40,9,14,...,7,21,9,24,6,37,9,26,10,36
2,3,49,10,13,4,28,5,47,7,45,...,3,10,10,40,7,22,1,39,2,46
3,1,47,7,23,1,18,5,47,6,30,...,8,22,9,24,3,39,6,31,4,16
4,9,30,4,29,5,32,7,18,2,20,...,7,27,7,22,2,49,10,13,5,18
5,5,21,6,27,4,17,7,27,10,42,...,7,50,4,26,4,19,1,20,2,21
6,3,19,8,33,10,31,2,43,1,29,...,10,29,8,17,3,38,10,21,2,33
7,2,18,2,49,8,50,7,33,4,21,...,10,33,7,12,6,24,5,25,8,46
8,7,45,9,39,7,34,1,10,9,35,...,10,11,6,42,8,20,4,18,3,40
9,6,10,1,15,5,38,1,35,7,43,...,5,13,2,24,4,48,6,40,7,27
10,8,39,9,12,1,29,7,15,1,12,...,6,28,2,39,6,20,3,40,7,43
11,5,46,7,13,1,26,9,39,7,36,...,8,11,4,33,9,31,1,19,8,18

In [10]:
df.isna().sum().sum()

0

In [12]:
data = df.iloc[1: ]
data

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,9,22,5,17,5,24,8,40,9,14,...,7,21,9,24,6,37,9,26,10,36
2,3,49,10,13,4,28,5,47,7,45,...,3,10,10,40,7,22,1,39,2,46
3,1,47,7,23,1,18,5,47,6,30,...,8,22,9,24,3,39,6,31,4,16
4,9,30,4,29,5,32,7,18,2,20,...,7,27,7,22,2,49,10,13,5,18
5,5,21,6,27,4,17,7,27,10,42,...,7,50,4,26,4,19,1,20,2,21
6,3,19,8,33,10,31,2,43,1,29,...,10,29,8,17,3,38,10,21,2,33
7,2,18,2,49,8,50,7,33,4,21,...,10,33,7,12,6,24,5,25,8,46
8,7,45,9,39,7,34,1,10,9,35,...,10,11,6,42,8,20,4,18,3,40
9,6,10,1,15,5,38,1,35,7,43,...,5,13,2,24,4,48,6,40,7,27
10,8,39,9,12,1,29,7,15,1,12,...,6,28,2,39,6,20,3,40,7,43
11,5,46,7,13,1,26,9,39,7,36,...,8,11,4,33,9,31,1,19,8,18

In [13]:
n_rows, n_cols = data.shape
n_jobs = n_cols // 2
n_rows, n_cols, n_jobs

(11, 100, 50)

In [ ]:
jobs = []
for job_id in range(n_jobs):
    r_col = job_id * 2
    t_col = r_col + 1
    job_operations = []
    for operation_id in range(n_rows):
        R = data.iloc[operation_id, r_col]
        T = data.iloc[operation_id, t_col]
        job_operations.append({'resource': int(R), 'time': int(T)})
    jobs.append(job_operations)

In [18]:
len(jobs)

50

In [21]:
jobs[0]

[{'resource': 9, 'time': 22},
 {'resource': 3, 'time': 49},
 {'resource': 1, 'time': 47},
 {'resource': 9, 'time': 30},
 {'resource': 5, 'time': 21},
 {'resource': 3, 'time': 19},
 {'resource': 2, 'time': 18},
 {'resource': 7, 'time': 45},
 {'resource': 6, 'time': 10},
 {'resource': 8, 'time': 39},
 {'resource': 5, 'time': 46}]

In [54]:
POP_SIZE = 30           # Number of different solutions in the generation
GENERATIONS = 100       # Number of epochs
CROSSOVER_RATE = 0.9
MUTATION_RATE = 0.2
TOURNAMENT_SIZE = 3     # Number of best solutions to select from
NUM_SWAPS = 5

In [55]:
num_jobs = len(jobs)
num_ops_per_job = len(jobs[0])
total_ops = num_jobs * num_ops_per_job

In [56]:
def random_chromosome(num_jobs, num_ops_per_job):
    chrom = []
    for job_id in range(num_jobs):
        chrom.extend([job_id] * num_ops_per_job)
    random.shuffle(chrom)
    return chrom

def decode_and_evaluate(chromosome, jobs):
    num_jobs = len(jobs)
    num_ops_per_job = len(jobs[0])
    job_next_op = [0] * num_jobs # tracks the next operation to schedule for each job
    resource_available = {} # dictionary that holds the time when each resource becomes available
    job_end_time = [0] * num_jobs

    # each resource starts available at time 0
    for job_id in range(num_jobs):
        for job in jobs[job_id]:
            resource_available[job['resource']] = 0

    for job_id in chromosome:
        op_idx = job_next_op[job_id]
        if op_idx >= num_ops_per_job:
            continue  # skip if all operations for this job are done
        op = jobs[job_id][op_idx]
        res = op['resource']
        time_for_op = op['time']
        
        # The operation can start when both the job and the resource are available
        start = max(job_end_time[job_id], resource_available[res]) # holds the earliest possible start time
        finish = start + time_for_op
        
        job_end_time[job_id] = finish
        resource_available[res] = finish
        job_next_op[job_id] += 1 # move to the next operation for this job

    return max(job_end_time)

def tournament(pop, fitnesses, k):
    selected = random.sample(list(zip(pop, fitnesses)), k) # select k random solutions with their fitness
    selected.sort(key=lambda x: x[1]) # sort by fitness (lowest time)
    return selected[0][0] # best chromosome

def crossover(parent1, parent2):
    size = len(parent1)
    a, b = sorted(random.sample(range(size), 2))
    child = [None]*size
    child[a:b] = parent1[a:b]
    fill = [x for x in parent2 if x not in child[a:b] or child[a:b].count(x) < parent2.count(x)]
    idx = 0
    for i in range(size):
        if child[i] is None:
            child[i] = fill[idx]
            idx += 1
    return child

def mutate(chrom, num_swaps):
     # swap two random genes
     for _ in range(num_swaps):
        a, b = random.sample(range(len(chrom)), 2)
        chrom[a], chrom[b] = chrom[b], chrom[a]

In [57]:
population = [random_chromosome(num_jobs, num_ops_per_job) for _ in range(POP_SIZE)]

for gen in range(GENERATIONS):
    fitnesses = [decode_and_evaluate(chrom, jobs) for chrom in population]
    new_population = []
    for _ in range(POP_SIZE):
        
        parent1 = tournament(population, fitnesses, TOURNAMENT_SIZE)
        parent2 = tournament(population, fitnesses, TOURNAMENT_SIZE)
        while parent2 == parent1:
            parent2 = tournament(population, fitnesses, TOURNAMENT_SIZE)
            
        if random.random() < CROSSOVER_RATE:
            child = crossover(parent1, parent2)
        else:
            child = parent1[:]
            
        if random.random() < MUTATION_RATE:
            mutate(child, NUM_SWAPS)
            
        new_population.append(child)
        
    population = new_population

In [58]:
fitnesses = [decode_and_evaluate(chrom, jobs) for chrom in population]
best_idx = np.argmin(fitnesses)
best_chrom = population[best_idx]
best_time = fitnesses[best_idx]
print("Best time:", best_time)
print("Best chromosome:", best_chrom)

Best time: 1339
Best chromosome: [45, 2, 45, 16, 19, 33, 48, 46, 8, 19, 46, 2, 24, 48, 24, 44, 28, 34, 48, 44, 16, 13, 49, 32, 45, 19, 19, 39, 5, 24, 6, 0, 12, 16, 49, 24, 28, 12, 6, 29, 10, 49, 24, 28, 20, 20, 12, 26, 6, 29, 10, 42, 45, 26, 9, 19, 19, 25, 48, 6, 25, 13, 48, 46, 0, 7, 33, 29, 5, 34, 44, 5, 8, 45, 10, 14, 29, 39, 13, 18, 16, 39, 13, 19, 48, 13, 2, 32, 2, 5, 48, 13, 16, 39, 1, 13, 19, 9, 33, 15, 4, 16, 39, 13, 19, 9, 48, 13, 2, 32, 2, 5, 48, 13, 46, 25, 18, 48, 33, 15, 4, 4, 0, 12, 14, 39, 34, 29, 24, 39, 49, 29, 28, 19, 14, 9, 15, 6, 20, 33, 24, 45, 10, 42, 4, 46, 18, 16, 13, 9, 9, 48, 13, 5, 34, 44, 48, 46, 0, 45, 10, 14, 7, 39, 18, 16, 29, 10, 2, 32, 2, 10, 2, 32, 2, 2, 39, 48, 13, 46, 2, 5, 48, 13, 46, 5, 0, 45, 15, 2, 5, 48, 13, 48, 25, 48, 33, 15, 4, 16, 13, 9, 48, 13, 2, 32, 2, 48, 13, 46, 25, 18, 5, 48, 13, 46, 5, 34, 18, 5, 8, 33, 10, 14, 29, 39, 24, 29, 16, 19, 13, 19, 9, 15, 4, 6, 13, 9, 48, 13, 2, 32, 2, 5, 48, 15, 13, 25, 18, 48, 33, 15, 0, 0, 0, 12, 5, 48, 16, 46, 25, 18, 5, 48, 14, 7, 39, 18, 6, 29, 10, 2, 32, 2, 10, 2, 32, 2, 2, 5, 48, 13, 46, 2, 5, 48, 13, 46, 5, 0, 45, 15, 2, 5, 48, 13, 48, 25, 48, 33, 34, 48, 13, 2, 32, 2, 5, 48, 13, 16, 39, 13, 19, 9, 33, 15, 4, 16, 39, 13, 19, 9, 48, 13, 2, 32, 2, 5, 48, 13, 45, 10, 14, 7, 0, 45, 15, 2, 5, 48, 13, 48, 25, 48, 33, 15, 4, 16, 13, 9, 48, 13, 2, 32, 2, 48, 13, 46, 25, 18, 5, 48, 13, 46, 5, 34, 18, 5, 8, 33, 10, 14, 29, 39, 24, 29, 16, 19, 13, 19, 9, 15, 4, 6, 13, 9, 48, 13, 44, 48, 46, 0, 45, 10, 14, 7, 39, 18, 16, 29, 10, 2, 32, 2, 10, 2, 32, 2, 2, 39, 48, 13, 46, 2, 5, 48, 13, 12, 5, 48, 16, 46, 25, 18, 5, 48, 13, 46, 5, 34, 2, 5, 29, 33, 10, 14, 29, 39, 24, 29, 16, 19, 13, 29, 46, 0, 33, 29, 5, 34, 44, 5, 8, 4, 10, 14, 29, 39, 13, 18, 16, 39, 13, 19, 48, 13, 2, 32, 2, 5, 48, 13, 16, 39, 13, 19, 9, 33, 15, 4, 16, 39, 13, 19, 9, 48, 13, 2, 32, 2, 5, 48, 13, 45, 46, 0, 45, 10, 14, 7, 39, 18, 16, 29, 10, 2, 32, 2, 10, 2, 32, 2, 2, 39, 48, 13, 46, 2, 5, 48, 13, 46, 5, 0, 45, 15, 2, 5, 48, 13, 48, 25, 48, 33, 15, 4, 16, 13, 9, 48, 13, 2, 32, 2, 48, 13, 46, 25, 18, 5]

In [59]:
pop_sizes = [20, 40, 60]
generations_list = [100, 200, 300]
mutation_rates = [0.1, 0.3]
num_swaps_list = [2, 5]

results = []

for POP_SIZE in pop_sizes:
    for GENERATIONS in generations_list:
            for MUTATION_RATE in mutation_rates:
                for NUM_SWAPS in num_swaps_list:

                    population = [random_chromosome(num_jobs, num_ops_per_job) for _ in range(POP_SIZE)]
                    best_time = float('inf')
                    best_chrom = None

                    for gen in range(GENERATIONS):
                        fitnesses = [decode_and_evaluate(chrom, jobs) for chrom in population]
                        new_population = []
                        for _ in range(POP_SIZE):
                            parent1 = tournament(population, fitnesses, TOURNAMENT_SIZE)
                            parent2 = tournament(population, fitnesses, TOURNAMENT_SIZE)
                            while parent2 == parent1:
                                parent2 = tournament(population, fitnesses, TOURNAMENT_SIZE)
                            if random.random() < CROSSOVER_RATE:
                                child = crossover(parent1, parent2)
                            else:
                                child = parent1[:]
                            if random.random() < MUTATION_RATE:
                                mutate(child, NUM_SWAPS)
                            new_population.append(child)
                        population = new_population

                    fitnesses = [decode_and_evaluate(chrom, jobs) for chrom in population]
                    idx = np.argmin(fitnesses)
                    best_time = fitnesses[idx]
                    best_chrom = population[idx]

                    results.append({
                        'POP_SIZE': POP_SIZE,
                        'GENERATIONS': GENERATIONS,
                        'CROSSOVER_RATE': CROSSOVER_RATE,
                        'MUTATION_RATE': MUTATION_RATE,
                        'NUM_SWAPS': NUM_SWAPS,
                        'BEST_TIME': best_time,
                        'BEST_CHROM': best_chrom
                    })

df_results = pd.DataFrame(results)

In [62]:
df_results.sort_values(by='BEST_TIME', ascending=True)

,POP_SIZE,GENERATIONS,CROSSOVER_RATE,MUTATION_RATE,NUM_SWAPS,BEST_TIME,BEST_CHROM
23,40,300,0.9,0.3,5,840,"[15, 45, 37, 18, 48, 48, 48, 45, 17, 18, 22, 1..."
28,60,200,0.9,0.1,2,885,"[31, 46, 9, 16, 27, 8, 23, 10, 30, 23, 29, 28,..."
26,60,100,0.9,0.3,2,953,"[29, 21, 17, 27, 43, 4, 9, 37, 27, 3, 33, 33, ..."
34,60,300,0.9,0.3,2,1009,"[25, 21, 26, 13, 10, 43, 22, 48, 25, 47, 43, 2..."
11,20,300,0.9,0.3,5,1015,"[26, 33, 35, 5, 39, 33, 33, 33, 23, 23, 45, 7,..."
35,60,300,0.9,0.3,5,1022,"[13, 40, 26, 45, 13, 25, 13, 4, 15, 25, 43, 25..."
21,40,300,0.9,0.1,5,1087,"[12, 20, 47, 32, 32, 20, 36, 21, 47, 6, 39, 32..."
29,60,200,0.9,0.1,5,1114,"[38, 28, 13, 29, 23, 11, 23, 7, 27, 4, 4, 29, ..."
17,40,200,0.9,0.1,5,1120,"[23, 4, 23, 19, 4, 22, 46, 49, 46, 49, 34, 22,..."
30,60,200,0.9,0.3,2,1130,"[15, 43, 1, 7, 35, 19, 15, 11, 25, 3, 35, 40, ..."
20,40,300,0.9,0.1,2,1162,"[7, 32, 42, 7, 4, 41, 26, 26, 28, 4, 34, 43, 4..."
32,60,300,0.9,0.1,2,1163,"[39, 12, 44, 22, 38, 38, 10, 18, 13, 23, 34, 2..."
24,60,100,0.9,0.1,2,1179,"[40, 30, 30, 18, 43, 16, 30, 18, 16, 30, 19, 2..."
22,40,300,0.9,0.3,2,1187,"[21, 48, 6, 20, 35, 37, 4, 34, 9, 5, 24, 29, 4..."
9,20,300,0.9,0.1,5,1225,"[19, 5, 33, 6, 32, 42, 42, 43, 16, 31, 6, 12, ..."
18,40,200,0.9,0.3,2,1234,"[32, 9, 5, 38, 17, 10, 42, 46, 3, 7, 31, 32, 3..."
7,20,200,0.9,0.3,5,1239,"[18, 26, 18, 18, 17, 35, 22, 0, 37, 47, 26, 47..."
3,20,100,0.9,0.3,5,1247,"[26, 48, 26, 14, 4, 2, 26, 40, 21, 30, 49, 21,..."
33,60,300,0.9,0.1,5,1252,"[43, 26, 26, 42, 26, 15, 28, 23, 19, 1, 11, 24..."
0,20,100,0.9,0.1,2,1273,"[42, 20, 16, 42, 44, 40, 40, 44, 44, 5, 48, 13..."
31,60,200,0.9,0.3,5,1316,"[46, 37, 17, 11, 17, 6, 18, 31, 8, 3, 30, 38, ..."
5,20,200,0.9,0.1,5,1317,"[46, 1, 8, 16, 40, 16, 30, 34, 42, 46, 10, 36,..."
14,40,100,0.9,0.3,2,1340,"[37, 35, 25, 31, 33, 16, 18, 27, 9, 25, 12, 4,..."
6,20,200,0.9,0.3,2,1346,"[46, 21, 29, 46, 29, 34, 12, 37, 14, 27, 21, 1..."
4,20,200,0.9,0.1,2,1366,"[43, 49, 17, 42, 16, 1, 36, 13, 30, 49, 49, 17..."
10,20,300,0.9,0.3,2,1367,"[7, 21, 37, 22, 18, 7, 22, 22, 3, 36, 36, 14, ..."
15,40,100,0.9,0.3,5,1400,"[20, 32, 6, 44, 48, 42, 9, 7, 42, 40, 44, 29, ..."
27,60,100,0.9,0.3,5,1412,"[12, 47, 7, 45, 3, 11, 47, 25, 39, 44, 11, 47,..."
16,40,200,0.9,0.1,2,1419,"[17, 25, 43, 25, 25, 7, 13, 17, 17, 9, 32, 7, ..."
19,40,200,0.9,0.3,5,1425,"[33, 31, 39, 25, 32, 22, 22, 41, 33, 12, 32, 1..."
12,40,100,0.9,0.1,2,1425,"[40, 21, 39, 40, 4, 19, 24, 31, 21, 27, 40, 19..."
8,20,300,0.9,0.1,2,1445,"[34, 0, 14, 3, 26, 26, 34, 47, 40, 43, 3, 32, ..."
25,60,100,0.9,0.1,5,1501,"[30, 21, 12, 30, 30, 13, 4, 37, 40, 13, 37, 38..."
1,20,100,0.9,0.1,5,1508,"[32, 0, 16, 44, 38, 15, 0, 17, 16, 0, 4, 46, 0..."
2,20,100,0.9,0.3,2,1578,"[16, 10, 32, 16, 42, 48, 33, 6, 10, 32, 16, 42..."
13,40,100,0.9,0.1,5,1592,"[13, 45, 20, 21, 7, 48, 34, 11, 35, 21, 46, 0,..."